@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	font-family: "Inter", sans-serif;
	padding:0;
	margin:0;
	background:#fff;
}
.wrapper {
	max-width:1000px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.main-head {
	display:flex;
    justify-content: space-between;
	margin:10px 0 16px;
	padding:0 20px;
}
.main-head .user {
	display:flex;
}
.main-head .user .photo  {
	display:flex;
	width:32px;
	height:32px;
	overflow:hidden;
	background:#D9D9D9;
	border-radius:32px;
	margin:0 8px 0 0;
}
.main-head .user .photo img {
	width:100%;
}
.main-head .user .user-info   {
	font-size:12px;
	color:#170947;
}
.main-head .user .user-info span {
	background:#E2E3EE;
	padding:2px 4px;
	font-size:10px;
	color:#9393BA;
	border-radius:7px;
	font-weight:600;
	display:inline-block;
	margin:2px 0 0 0;
}
.main-head .user-rank {
	background:#F2F3F8;
	border-radius:8px;
	font-weight:600;
	color:#9393BA;
	font-size:10px;
	padding:4px 8px;
}
.main-head .user-rank span {
	display:block;
	font-size:12px;
	color:#170947;
	font-weight:500;
	margin:2px 0 0 0;
}
.bottom-fixed-menu {
	position:fixed;
	bottom:0;
	margin:0 auto;
	max-width:1000px;
	width:100%;
	background:#fff;
	padding:8px 20px 15px 20px;
	box-sizing: border-box;
	display:flex;
	justify-content: space-between;
	color:#9393BA;
	font-size:14px;
	font-weight:500;
	left: 50%;
	transform: translate(-50%, 0);
}
.bottom-fixed-menu .menu {
	padding:0 8px;
}
.bottom-fixed-menu .menu.active {
	color:#FEB24A;
}
.bottom-fixed-menu .menu .icon {
	width:20px;
	height:20px;
	margin:0 auto 2px auto;
	display:flex;
    justify-content: center;
    align-items: center;
}
.bottom-fixed-menu .menu .icon-color {
	fill:#9393BA;
}
.bottom-fixed-menu .menu.active .icon-color {
	fill:#FEB24A;
}
.page {
	padding: 16px 20px 20px 20px;
	margin: 0 0 62px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #f2f3f8 repeat url("../image/background.png") center center;
}
.page.full-page {
	display: flex;
	flex-wrap: wrap;

	align-content: space-between;
}
.page.full-page > div {
	width:100%;
}
.page .invite {
	background: rgb(254,178,74);
	background: linear-gradient(299deg, rgba(254,178,74,0.4430147058823529) 0%, rgba(255,255,255,1) 25%);
	padding:16px;
	border-radius:16px;
	font-size:16px;
	line-height:20px;
	color:#170947;
	font-weight:500;
	position:relative;
}
.page .invite:after {
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:30%;
	min-width:200px;
	content:'';
	background: no-repeat url("../image/invite-bg.png") 95% -20px;
}
.page .invite .more {
	color:#9393BA;
	font-size:10px;
	text-transform:uppercase;
	font-weight:600;
	margin:8px 0 0 0;
}
.page .bottom-block {
	
}
.page .bottom-block .item-coin {
	font-size:32px;
	color:#170947;
	font-weight:500;
	text-align:center;
}
.page .bottom-block .item-coin:before {
	content:'';
	width:32px;
	height:32px;
	background: no-repeat url("../image/coin-icon.png") center center;
	display:inline-block;
	vertical-align:middle;
	margin:-7px 8px 0 0;
}
.page .bottom-block .farm-block {
	background:#fff;
	border-radius:10px;
	color:#170947;
	font-size:12px;
	font-weight:500;
	padding:8px 8px 8px 16px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:24px 0 0;
}
.page .bottom-block .farm-block .boost {
	background:#E2E3EE no-repeat url("../image/boost-icon.svg") 10px center;
	color:#9393BA;
	border-radius:12px;
	padding:10px 9px 10px 28px;
	font-size:10px;
	font-weight:600;
	position:relative;
}
.page .bottom-block .farm-block .boost:before {
	content:'';
	display:block;
	width:1px;
	height:32px;
	background:#E2E3EE;
	position:absolute;
	left:-10px;
	top:0;
}
.page .bottom-block .mining-btn {
	background:#FEB24A;
	border-radius:30px;
	text-align:center;
	font-size:16px;
	font-weight:500;
	color:#170947;
	display:flex;
	justify-content: center;
	padding:14px 0;
	margin:8px 0 0 0;
}
.page .bottom-block .mining-btn:before {
	content:'';
	display:block;
	width:20px;
	height:20px;
	margin:0 6px 0 0;
	background: no-repeat url("../image/mining-icon.svg") center center;
}
.page .bottom-block .claim-btn  {
	background:#FEB24A;
	font-weight:500;
	font-size:16px;
	color:#170947;
	border-radius:30px;
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding:6px 6px 6px 18px;
	margin:8px 0 0 0;
}
.page .bottom-block .claim-btn .count {
	background:#F08C02;
	border-radius:30px;
	padding:8px 12px;
}
.page .bottom-block .claim-btn .count:before {
	content:'';
	width:15px;
	height:15px;
	display:inline-block;
	background: no-repeat url("../image/claim-icon.svg") center center;
	margin:0 5px -2px 0;
}
.page .bottom-block .countdown {
	display:flex;
}
.page .bottom-block .countdown:before {
	content:'';
	width:20px;
	height:20px;
	display:inline-block;
	background: no-repeat url("../image/time-icon.svg") center center;
	margin:0 6px 0 0;
}
.page .bottom-block .countdown #countdown {
	margin:0 0 0 6px;
}
.overflow {
	background:rgba(0,0,0, 0.2);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:2;
	height:0;
	overflow:hidden;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  /* Прячем элемент */
  opacity: 0;
  visibility: hidden;
}
.overflow.show {
	height:auto;
  opacity: 1;
  visibility: visible;
}
body.hide {
	overflow:hidden;
}
.bottom-hidden-block {
	position:fixed;
	z-index:3;
	width:100%;
	left:50%;
	right:0;
	bottom:0;
	max-width:1000px;
	transform: translate(-50%, 0);
	background:#fff;
	overflow-y: hidden;
	max-height: 50vh;
	max-height: 0;
	box-sizing: border-box;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.bottom-hidden-block.hide {
	max-height: 50vh;
}
.bottom-hidden-block .close {
	background-color:#F2F3F8!important;
}
.bottom-hidden-block .container {
	padding:20px;
}
.bottom-hidden-block .block-name {
	font-size:20px;
	color:#170947;
	font-weight:500;
	margin:0 0 4px;
}
.bottom-hidden-block p {
	color:#9393BA;
	font-size:14px;
	font-weight:500;
}
.bottom-hidden-block .level-list-block {
	color:#9393BA;
	font-size:14px;
	font-weight:500;
	background:#F2F3F8;
	border-radius:16px;
	padding:0 2px;
	overflow:auto;
	max-height:27vh;
}
.bottom-hidden-block .level-list-block .list {
	display:flex;
	justify-content: space-between;
	padding:11px 12px;
	position:relative;
}
.bottom-hidden-block .level-list-block .list.you {
	background:#fff;
	border-radius:16px;
}
.bottom-hidden-block .level-list-block .list .you {
	color:#9393BA;
	font-size:10px;
	position:absolute;
	right:50px;
	top:15px;
}
.bottom-hidden-block .level-list-block .level {
	color:#170947;
	font-size:16px;
}
.close {
	position:absolute;
	right:10px;
	top:10px;
	background:#fff;
	border-radius:24px;
	width:24px;
	height:24px;
	background: #fff no-repeat url("../image/close-icon.svg") center center;
	z-index:1;
}
.closing-div {
	animation: 3s infinite alternate slide-in;
	overflow:hidden;
}
.closing-div.slide-up.hide {
	animation: slideUp 1s ease 0s 1 normal forwards;
	height:auto;
	overflow:auto;
}
.closing-div.slide-down.hide {
 
}
@keyframes slideUp {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100vh);
	}
}
@keyframes slideDown {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100vh);
	}
}
















