@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	font-family: "Inter", sans-serif;
	padding:0;
	margin:0;
	background:var(--tg-theme-header-bg-color);
	font-size:14px;
	color:var(--tg-theme-text-color);
	font-weight:500;
}
.wrapper {
	max-width:1000px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.main-head {
	display:flex;
    justify-content: space-between;
	padding:10px 20px 16px 20px;
	background:var(--tg-theme-header-bg-color);
}
.main-head .user {
	display:flex;
}
.main-head .user .photo  {
	display:flex;
	width:32px;
	height:32px;
	overflow:hidden;
	background:var(--tg-theme-text-color);
	border-radius:32px;
	margin:0 8px 0 0;
}
.main-head .user .photo img {
	width:100%;
}
.main-head .user .user-info   {
	font-size:12px;
	color:var(--tg-theme-hint-color);
}
.main-head .user .user-info span {
	background:var(--tg-theme-secondary-bg-color);
	padding:2px 4px;
	font-size:10px;
	color:#9393BA;
	border-radius:7px;
	font-weight:600;
	display:inline-block;
	margin:2px 0 0 0;
}
.main-head .user-rank {
	background:var(--tg-theme-secondary-bg-color);
	border-radius:8px;
	font-weight:600;
	color:#9393BA;
	font-size:10px;
	padding:4px 8px;
}
.main-head .user-rank span {
	display:block;
	font-size:12px;
	color:var(--tg-theme-hint-color);
	font-weight:500;
	margin:2px 0 0 0;
}
.bottom-fixed-menu {
	position:fixed;
	bottom:0;
	margin:0 auto;
	max-width:1000px;
	width:100%;
	background:var(--tg-theme-header-bg-color);
	padding:5px 20px 12px 20px;
	box-sizing: border-box;
	display:flex;
	justify-content: space-between;
	color:var(--tg-theme-text-color);
    font-size: 11px;
    font-weight: 300;
	left: 50%;
	z-index:1;
	transform: translate(-50%, 0);
}
.bottom-fixed-menu .menu {
	padding:0 8px;
}
.bottom-fixed-menu .menu.active {
	color:var(--tg-theme-hint-color);
}
.bottom-fixed-menu .menu .icon {
	width:20px;
	height:20px;
	margin:0 auto 2px auto;
	display:flex;
    justify-content: center;
    align-items: center;
}
.bottom-fixed-menu .menu .icon-color {
	fill:var(--tg-theme-text-color);
}
.bottom-fixed-menu .menu.active .icon-color {
	fill:var(--tg-theme-hint-color);
}
body.scroll {
    touch-action: none !important;
}
.page {
	padding: 16px 20px 20px 20px;
	margin: 0 0 40px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: var(--tg-theme-secondary-bg-color);
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
}
.page:after {
	position:absolute;
	content:'';
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:var(--tg-theme-button-color);
	-webkit-mask: repeat url(../image/background.png) left top;
	mask: repeat url(../image/background.png) left top;
	z-index:0;
}
.page > div {
	position:relative;
	z-index:1;
}
.page.full-page {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
.page.full-page > div {
	width:100%;
}
.page .invite {
	background: var(--tg-theme-hint-color);
	background: linear-gradient(299deg, rgba(254,178,74,0.4430147058823529) 0%, var(--tg-theme-hint-color)) 25%);
	padding:16px;
	border-radius:16px;
	font-size:16px;
	line-height:20px;
	color:var(--tg-theme-text-color);
	font-weight:500;
	position:relative;
}
.page .invite:after {
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:30%;
	min-width:200px;
	content:'';
	background: no-repeat url("../image/invite-bg.png") 95% -20px;
}
.page .invite .more {
	color:var(--tg-theme-link-color);
	font-size:10px;
	text-transform:uppercase;
	font-weight:600;
	margin:8px 0 0 0;
}
.page .bottom-block {
	
}
.page .bottom-block .item-coin {
	font-size:32px;
	color:var(--tg-theme-text-color);
	font-weight:500;
	text-align:center;
}
.page .bottom-block .item-coin:before {
	content:'';
	width:32px;
	height:32px;
	background: no-repeat url("../image/coin-icon.png") center center;
	display:inline-block;
	vertical-align:middle;
	margin:-7px 8px 0 0;
}
.page .bottom-block .farm-block {
	background:var(--tg-theme-bg-color);
	border-radius:10px;
	color:var(--tg-theme-text-color);
	font-size:12px;
	font-weight:500;
	padding:8px 8px 8px 16px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:24px 0 0;
}
.page .bottom-block .farm-block .boost {
	background:var(--tg-theme-secondary-bg-color) no-repeat url("../image/boost-icon.svg") 10px center;
	color:var(--tg-theme-hint-color);
	border-radius:12px;
	padding:10px 9px 10px 28px;
	font-size:10px;
	font-weight:600;
	position:relative;
}
.page .bottom-block .farm-block .boost:before {
	content:'';
	display:block;
	width:1px;
	height:32px;
	background:var(--tg-theme-secondary-bg-color);
	position:absolute;
	left:-10px;
	top:0;
}
.master-btn-big {
	background:#FEB24A;
	color:#202630;
	border-radius:30px;
	text-align:center;
	font-size:16px;
	font-weight:500;
	display:flex;
	justify-content: center;
	padding:14px 0;
	margin:8px 0 0 0;
	box-sizing:border-box;
	width: 100%;
	position:relative;
	overflow:hidden;
}
.master-btn-big.mining-btn {

}
.master-btn-big.mining-btn:before {
	content:'';
	display:block;
	width:20px;
	height:20px;
	margin:0 6px 0 0;
    background-color: #202630;
    -webkit-mask:  no-repeat url("../image/mining-icon.svg") center center;
    mask: no-repeat url("../image/mining-icon.svg") center center;
}
.master-btn-big.claim-btn  {
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding:6px 6px 6px 18px;
}
.master-btn-big.claim-btn .count {
	background:var(--tg-theme-button-text-color);
	border-radius:30px;
	padding:8px 12px;
	color:#202630;
}
.master-btn-big.claim-btn .count:before {
	content:'';
	width:15px;
	height:15px;
	display:inline-block;
    background-color: #202630;
    -webkit-mask:  no-repeat url("../image/claim-icon.svg") center center;
    mask: no-repeat url("../image/claim-icon.svg") center center;
	margin:0 5px -2px 0;
}
.master-btn-big.text-btn {
	text-align:center;
}
.master-btn-big.copy-icon, .master-btn-big.share-icon {
	border-radius:10px;
	width:48px;
	height:48px;
	background:transparent;
	margin:0 0 0 8px;
}
.master-btn-big.copy-icon:after {
	opacity:1;
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
    background-color: var(--tg-theme-button-color);
    -webkit-mask:  no-repeat url("../image/copy-icon.svg") center center;
    mask: no-repeat url("../image/copy-icon.svg") center center;
}
.master-btn-big.copy-icon:before {
	opacity:0.2;
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: var(--tg-theme-button-color);
}
.master-btn-big.share-icon:after {
	opacity:1;
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
    background-color: var(--tg-theme-button-color);
    -webkit-mask:  no-repeat url("../image/share-icon.svg") center center;
    mask: no-repeat url("../image/share-icon.svg") center center;
}
.master-btn-big.share-icon:before {
	opacity:0.2;
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: #ccc;
}
.master-btn-big.delete-btn {
	background:transparent;
	color:#EA4E4E;
}
.master-btn-big.delete-color-btn {
	background:#EA4E4E;
	color:#fff;
}
.master-btn-big.cancel-btn {
	background:#fff;
	color:#9393BA;
	border:1px solid rgba(204, 204, 204, 0.2);
}
.master-btn-big.delete-btn:before {
	content:'';
	display:block;
	width:20px;
	height:20px;
	margin:0 6px 0 0;
	background: no-repeat url("../image/delete-icon.svg") center center;
}
.balance-buttons {
	display:flex;
	justify-content: space-between;
}
.balance-buttons > div {
	width:calc(50% - 4px)
}
.master-btn-big.deposit-btn, .master-btn-big.draw-btn {
	text-align:center;
	background:#E2E3EE;
	color:#170947;
}
.master-btn-big.deposit-btn:before {
	margin:0 6px 0 0;
	display:inline-block;
	vertical-align:middle;
	content:'';
	width:20px;
	height:20px;
	background: no-repeat url("../image/plus-icon.svg") center center;
}
.master-btn-big.draw-btn:before {
	margin:0 6px 0 0;
	display:inline-block;
	vertical-align:middle;
	content:'';
	width:20px;
	height:20px;
	background: no-repeat url("../image/draw-icon.svg") center center;
}
.buttons-align {
	display:flex;
	
}
.page .bottom-block .countdown {
	display:flex;
}
.page .bottom-block .countdown:before {
	content:'';
	width:20px;
	height:20px;
	display:inline-block;
    background-color: #202630;
    -webkit-mask:  no-repeat url("../image/time-icon.svg") center center;
    mask: no-repeat url("../image/time-icon.svg") center center;
	margin:0 6px 0 0;
}
.page .bottom-block .countdown #countdown {
	margin:0 0 0 6px;
}
.overflow {
	background:rgba(0,0,0, 0.2);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:2;
	height:0;
	overflow:hidden;
  transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
  /* Прячем элемент */
  opacity: 0;
  visibility: hidden;
}
.overflow.show {
	height:auto;
  opacity: 1;
  visibility: visible;
}
body.hide {
	overflow:hidden;
}
.bottom-hidden-block {
	position:fixed;
	z-index:3;
	width:100%;
	left:50%;
	right:0;
	bottom:0;
	max-width:1000px;
	transform: translate(-50%, 0);
	background:var(--tg-theme-header-bg-color);
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	overflow-y: hidden;
	max-height: 50vh;
	max-height: 0;
	box-sizing: border-box;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: ease;
}
.bottom-hidden-block.hide {
	max-height: 100vh;
}
.bottom-hidden-block .close {
	background-color:#F2F3F8!important;
	right:20px;
	top:20px;
}
.bottom-hidden-block .container {
	padding:20px;
}
.bottom-hidden-block .block-name {
	font-size:20px;
	color:var(--tg-theme-text-color);
	font-weight:500;
	margin:0 0 12px;
}
.bottom-hidden-block p {
	color:var(--tg-theme-subtitle-text-color);
	font-size:14px;
	font-weight:500;
	margin:0 0 12px;
}
.bottom-hidden-block .level-list-block {
	color:var(--tg-theme-subtitle-text-color);
	font-size:14px;
	font-weight:500;
	background:var(--tg-theme-secondary-bg-color);
	border-radius:16px;
	padding:0 2px;
	overflow:visible !important;
	max-height:27vh;
}
.bottom-hidden-block .os-scrollbar-vertical {
    right: -15px!important;
}
.bottom-hidden-block .level-list-block .list {
	display:flex;
	justify-content: space-between;
	padding:11px 12px;
	position:relative;
}
.bottom-hidden-block .level-list-block .list.you {
	background:var(--tg-theme-header-bg-color);
	border-radius:16px;
}
.bottom-hidden-block .level-list-block .list .you {
	color:var(--tg-theme-subtitle-text-color);
	font-size:10px;
	position:absolute;
	right:50px;
	top:15px;
}
.bottom-hidden-block .level-list-block .level {
	color:var(--tg-theme-text-color);
	font-size:16px;
}
.bottom-hidden-block .share-icon-block {
	display:flex;
	justify-content:space-between;
}
.bottom-hidden-block .share-icon-block .icon {
	width:60px;
	height:60px;
	border-radius:16px;
}
.bottom-hidden-block .share-icon-block .icon.messenger {
	background: #F2F3F8 no-repeat url("../image/facebook-icon.svg") center center;
}
.bottom-hidden-block .share-icon-block .icon.facebook {
	background: #F2F3F8 no-repeat url("../image/facebook-icon.svg") center center;
}
.bottom-hidden-block .share-icon-block .icon.instagram {
	background: #F2F3F8 no-repeat url("../image/instagram-icon.svg") center center;
}
.bottom-hidden-block .share-icon-block .icon.whatsapp {
	background: #F2F3F8 no-repeat url("../image/whatsapp-icon.svg") center center;
}
.bottom-hidden-block .share-icon-block .icon.twitter {
	background: #F2F3F8 no-repeat url("../image/twitter-icon.svg") center center;
}
.bottom-hidden-block .works-block-flex {
	display:flex;
	margin:0 0 20px;
}
.bottom-hidden-block .works-block-flex .block {
	width:calc(50vw - 4px);
	background:var(--tg-theme-secondary-bg-color);
	border-radius:8px;
	padding:8px 8px 8px 48px;
	position:relative;
}
.bottom-hidden-block .works-block-flex .block:last-child {
	margin:0 0 0 8px;
}
.bottom-hidden-block .works-block-flex .block:before {
    position: absolute;
    left: 8px;
    top: 8px;
    content: '';
    width: 32px;
    height: 32px;
    background-color: var(--tg-theme-header-bg-color);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.bottom-hidden-block .works-block-flex .block.telegram:before {
	background-image: url(../image/telegram-icon.svg);
}
.bottom-hidden-block .works-block-flex .block.premium:before {
	background-image: url(../image/premium-icon.svg);
}
.bottom-hidden-block .works-block-flex .block div {
	font-size:16px;
	color:var(--tg-theme-text-color);
	font-weight:500;
	margin:0 0 2px;
}
.bottom-hidden-block .works-info {
    overflow: visible !important;
    max-height: 55vh;
	margin:0 0 20px;
}
.bottom-hidden-block .language {
    overflow: visible !important;
    max-height: 85vh;
	margin:0 0 20px;
}
.bottom-hidden-block .works-info .block {
	padding:0 0 0 36px;
	background: no-repeat url(../image/status-icon.svg) 5px center;
	margin:0 0 12px;
	color:var(--tg-theme-subtitle-text-color);
}
.bottom-hidden-block .works-info .block:last-child {
	margin:0;
}
.bottom-hidden-block .works-info .block div {
	font-size:16px;
	color:var(--tg-theme-text-color);
	margin:0 0 2px;
}
.bottom-hidden-block .nuts-match {
	background:#F2F3F8;
	font-size:12px;
	border-radius:16px;
	color:#170947;
	position:relative;
	padding:8px;
	display:flex;
	align-items: center;
	margin:0 0 16px;
}
.bottom-hidden-block .nuts-match:before {
	border-radius:8px;
	margin:0 12px 0 0;
	content:'';
	width:32px;
	height:32px;
	background:#fff no-repeat url(../image/delete-icon.svg) center center;
}
.close {
	position:absolute;
	right:10px;
	top:10px;
	background:#fff;
	border-radius:24px;
	width:24px;
	height:24px;
	background: #fff no-repeat url("../image/close-icon.svg") center center;
	z-index:1;
}
.closing-div {
	animation: 3s infinite alternate slide-in;
	overflow:hidden;
}
.closing-div.slide-up.hide {
	animation: slideUp 1s ease 0s 1 normal forwards;
	height:auto;
	overflow:auto;
}
.closing-div.slide-down.hide {
	
}
@keyframes slideUp {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100vh);
	}
}
@keyframes slideDown {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100vh);
	}
}
.main-tab-content {
	display: none;
}
.main-tab-content.active {
	display: block;
 
}
.tab-page  {
	background:var(--tg-theme-header-bg-color);
	padding:10px 20px 0 20px;
}
.tab-page .title  {
	color:var(--tg-theme-text-color);
	font-size:24px;
	font-weight:500;
	margin:0 0 16px;
}
.tab-page .title span {
	color:var(--tg-theme-hint-color);
}
.tab-page .scroll-wrap {
	overflow: hidden;
}
.slide-item {
	margin: 0 -20px;
}
.tab-page .items-list {
	position: relative;
	width: 100%;
	/*overflow-x: scroll;*/
	overflow-y: hidden;
	white-space: nowrap;
	transition: all 0.2s;
	will-change: transform;
	user-select: none;
	cursor: pointer;
}
.tab-page .items-list .item {
	background:#F2F3F8;
	border-radius:16px;
	padding:16px 16px;
	min-height:144px;
	display: inline-flex;
	vertical-align: top;
	height: 144px;
	max-width:100%;
	width: calc(100vw - 40px);
	border-radius: 16px;
	box-sizing: border-box;
	margin:0 0 0 7px
}
.tab-page .items-list .item:first-child{
	margin:0 0 0 20px;
}
.tab-page .items-list .item:last-child{
	margin:0 20px 0 7px;
}
.tab-page .items-list .item .image {
	width:40px;
	height:40px;
	overflow:hidden;
	background:#D9D9D9;
	border-radius:40px;
}
.tab-page .items-list .item .image img {
	width:100%;
	display:block;
}
.tab-page .items-list .item .container {
	display:flex;
	width: 100%;
	flex-wrap: wrap;
}
.tab-page .items-list .item .info-block {
	display:flex;
	width:100%;
	align-self: self-end;
	justify-content: space-between;
}
.tab-page .items-list .item .info {
	
}
.tab-page .items-list .item .info .name {
	font-size:16px;
	font-weight:500;
	color:#170947;
}
.tab-page .items-list .item .info .coin {
	font-size:12px;
	color:#170947;
	margin:4px 0 0 0;
}
.tab-page .items-list .item .info .coin:before {
    content: '';
    width: 16px;
    height: 16px;
    background: no-repeat url(../image/coin-icon.png) center center;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 2px 0 0;
	background-size:cover;
}
.master-btn {
	height:32px;
	padding: 7px 16px;
	background:#FEB24A;
	color:#202630;
	background-repeat:no-repeat;
	background-position:center center;
	border-radius:10px;
	box-sizing: border-box;
	font-size:14px;
	font-weight:500;
}
.master-btn.add-btn {
	background-image: url(../image/plus-icon.svg);
}
.master-btn.reload-btn {
	background-image: url(../image/reload-icon.svg);
}
.master-btn.accept-btn {
	background-image: url(../image/accept-icon.svg);
	background-color:#E2E3EE;
}
.master-btn.arrow-btn {
	background-color: var(--tg-theme-button-color);
    -webkit-mask: no-repeat url(../image/arrow-icon.svg) center center;
    mask: no-repeat url(../image/arrow-icon.svg) center center;
}
.master-btn.text-btn {

}
.small-tab-menu {
	display:flex;
	justify-content: space-between;
	background:var(--tg-theme-secondary-bg-color);
	border-radius:10px;
	padding:2px;
	box-sizing:border-box;
	color:var(--tg-theme-subtitle-text-color);
	font-size:14px;
	margin:16px 0;
	font-weight:500;
}
.small-tab-menu .small-tab-menu-link {
	width:100%;
	text-align:center;
	padding:6px 0;
	border-radius:10px;
	background:transparent;
	transition: all ease 0.5s
}
.small-tab-menu .small-tab-menu-link.active {
	background:var(--tg-theme-header-bg-color);
	color:var(--tg-theme-text-color);
}
.small-tab-content, .mini-tab-content {
	display:none;
}
.small-tab-content.active, .mini-tab-content.active {
	display:block;
}
.mini-tab-menu {
	display:flex;
	color:var(--tg-theme-subtitle-text-color);
	font-size:14px;
	font-weight:500;
	border-bottom:1px solid var(--tg-theme-subtitle-text-color);
	margin:0 0 20px;
}
.mini-tab-menu .mini-tab-menu-link {
	padding:6px 12px;
	margin:0 0 -1px;
	border-bottom:1px solid transparent;
	transition: all ease 0.5s
}
.mini-tab-menu .mini-tab-menu-link.active {
	color:var(--tg-theme-text-color);
	border-bottom:1px solid var(--tg-theme-text-color);
}
.page .block-name {
	color:var(--tg-theme-text-color);
	font-size:20px;
	font-weight:500;
	margin:20px 0 12px;
	position:relative;
}
.page .block-name:first-child {
	margin:0 0 12px;
}
.page .block-name span {
	color: var(--tg-theme-hint-color);
}
.page .block-name .link {
	position:absolute;
	right:0;
	top:2px;
	border-bottom:1px solid var(--tg-theme-link-color);
	color:var(--tg-theme-link-color);
	font-size:14px;
}
.master-block {
	margin:0 0 20px;
}
.master-block.no-space {
	margin:0 0 8px;
}
.master-block .block {
	position:relative;
	background:var(--tg-theme-header-bg-color);
	padding:8px 8px;
	border-radius:16px;
	box-sizing:border-box;
	font-size:14px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin:0 0 8px;
}
.master-block.no-space .block {
	margin:0;
	border-radius:0;
}
.master-block.no-space .block:first-child {
	border-top-left-radius:16px;
	border-top-right-radius:16px;
}
.master-block.no-space .block:last-child {
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.master-block.no-space .block:after {
	content:'';
	left:52px;
	right:0;
	position:absolute;
	bottom:-1px;
	z-index:1;
	height:1px;
	background:var(--tg-theme-subtitle-text-color);
}
.master-block.statics .block:after {
	left:16px;
	right:16px;
}
.master-block.no-space .block:last-child:after {
	display:none;
}
.master-block .block:last-child {
	margin:0;
}
.master-block .block.big {
	padding: 8px 8px 8px 16px;
	margin:40px 0 0 0;
}
.master-block.links {
	
}
.master-block.links .block .tit {
	font-size:12px;
	color:var(--tg-theme-text-color);
	font-weight:500;
}
.master-block .block.icon {
	padding-left:52px;
	min-height:48px;
}
.master-block .block.icon:before {
	position:absolute;
	left:8px;
	top:8px;
	content:'';
	width:32px;
	height:32px;
	background-color:var(--tg-theme-secondary-bg-color);
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:8px;
}
.master-block.coins .block.icon:before {
	border-radius:32px;
	background-color:transparent;
}
.master-block.coins .block {
	
}
.master-block.coins .block .tit {
	color:var(--tg-theme-text-color);
	font-size:12px;
}
.master-block.coins .block .coin {
	font-size:10px;
	color:var(--tg-theme-subtitle-text-color);
	font-weight:600;
}
.master-block.coins .block .count {
	color:var(--tg-theme-text-color);
	text-align:right;
}
.master-block .block.icon-telegram:before {
	background-image: url(../image/telegram-icon.svg);
}
.master-block .block.icon-ton:before {
	background-image: url(../image/ton-icon.svg);
	background-size:24px;
}
.master-block.coins .block.icon-ton:before {
	background-size:32px;
}
.master-block .block.icon-premium:before {
	background-image: url(../image/premium-icon.svg);
}
.master-block .block.icon-website:before {
	background-image: url(../image/website-icon.svg);
}
.master-block .block.icon-github:before {
	background-image: url(../image/github-icon.svg);
}
.master-block .block.icon-docs:before {
	background-image: url(../image/docs-icon.svg);
}
.master-block .block.icon-police:before {
	background-image: url(../image/police-icon.svg);
}
.master-block .block.icon-eng:before {
	background-image: url(../image/eng-lang-icon.svg);
}
.master-block.statics .block {
	padding:12px 16px;
}
.master-block.statics .block .text{
	display:flex;
	justify-content: space-between;
    width: 100%;
    align-items: center;
}
.master-block.statics .block .text .tit {
	color:var(--tg-theme-subtitle-text-color);
	font-size:14px;
	font-weight:500;
}
.master-block.statics .block .text .val {
	font-size:16px;
	color:var(--tg-theme-text-color);
}
.master-block.statics .block .text .val.icon-ticket:before {
	content:'';
	display:inline-block;
	vertical-align:top;
	margin:2px 4px 0 0;
	width:18px;
	height:18px;
	background-image: url(../image/ticket-icon.svg);
}
.master-block.statics .block .text .val.icon-coin:before {
	content:'';
	display:inline-block;
	vertical-align:top;
	margin:0px 4px 0 0;
	width:20px;
	height:20px;
	background: no-repeat url(../image/coin-icon.png) center center;
	background-size:cover;
}
.master-block .block .tit {
	color:var(--tg-theme-subtitle-text-color);
	font-size:10px;
	font-weight:600;
}
.master-block .block .coin {
	font-size: 12px;
	color: var(--tg-theme-text-color);
	margin: 4px 0 0 0;
	font-weight:500;
}
.master-block .block .coin:before {
    content: '';
    width: 16px;
    height: 16px;
    background: no-repeat url(../image/coin-icon.png) center center;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 2px 0 0;
    background-size: cover;
}
.master-block .block .coin.no-icon:before {
	display:none;
}
.master-block .block.big .tit {
	font-size:16px;
	color:var(--tg-theme-text-color);
}
.master-block .block.big .coin {
	font-size:14px;
	color:var(--tg-theme-subtitle-text-color);
}
.bottom-hidden-block .master-block .block {
	background:#F2F3F8;
}
.bottom-hidden-block .master-block .block.icon:before {
	background-color:#fff
}
.balance-block {
	
}
.balance-block .total-balance {
	background:#fff;
	padding:16px 16px;
	display:flex;
	justify-content: space-between;
	border-radius:10px;
}
.balance-block .total-balance .left-side {
	font-size:16px;
	color:#170947;
}
.balance-block .total-balance .left-side .tit {
	color:#9393BA;
	font-size:14px;
	margin:0 0 2px;
}
.page .block-buttons {
	display:flex;
	margin:0 0 20px;
}
.balance-block .total-balance .right-side {
	color:#170947;
	font-size:12px;
	background:#F2F3F8;
	border-radius:8px;
	padding:4px 8px;
}
.balance-block .total-balance .right-side .tit {
	color:#9393BA;
	font-size:10px;
	margin:0 0 2px;
	font-weight:600;
}
.page .block-buttons .master-btn-big {
	margin-top:0;
}
::-webkit-scrollbar{
	width: 2px;
	height: 0px;
}
::-webkit-scrollbar-track-piece{
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: transparent;
}
::-webkit-scrollbar-thumb:hover{
	background-color: transparent;
}
.scrollable-element .os-scrollbar {
    background: var(--tg-theme-secondary-bg-color)!important;
}
.scrollable-element .os-scrollbar-handle {
    background: var(--tg-theme-header-bg-color)!important;
}





